<link rel="stylesheet" href="<%= theme.cdn + '/assets/ext/bootstrap/css/bootstrap.min.css'%>" media="all">
<style>
    .td1 {
    width: 45px;
    height: 45px;
    text-align: center;
    font-size: 14pt;
    line-height: 1em;
    color: #ffffff;
    opacity: 0.7;
    }
    .table>tbody>tr>td{
    border:0px;
    }
    .td3 {
    text-align: right;
    border-left: 1px solid transparent !important;
    }
</style>
<div class="pattern-center-blank">
</div>
<div class="pattern-center ">
    <div class="pattern-attachment-img">
        <img src="<%= theme.lazyloadImg%>" data-src="<%= page.photos%>" class="lazyload" onerror="imgError(this,3)" style="width: 100%; height: 100%; object-fit: cover; pointer-events: none;">
    </div>
    <header class="pattern-header ">
        <h1 class="entry-title">
            在一起要做的100件事
        </h1>
        <span class="cat-des">
            <!-- style="color: lightcoral;"  -->
        <p style="    margin-block-start: 1em;
        margin-block-end: 1em;"><%= page.description%></p>
        </span>
    </header>
</div>
<div id="content" class="site-content">
    <div id="primary" class="content-area kuangjia">
        <main id="main" class="site-main" role="main">
            <div class="container-fluid">
                <!--row 1-->
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table table-bordered" >
                            <tr>
                                <td class="td1" style="background:#00FF7F;"><b>✔</b></td>
                                <td class="td2" style="color:#00FF7F;">1.一起看电影</a></td>
                                <td class="td3">🎦</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#0000FF;"><b>✔</b></td>
                                <td class="td2" style="color:#0000FF;">2.给对方写信</a></td>
                                <td class="td3">💌</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#FF6A6A;"><b>✔</b></td>
                                <td class="td2" style="color:#FF6A6A;">3.用短信交流</a></td>
                                <td class="td3">💬</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#A020F0;"><b>✔</b></td>
                                <td class="td2" style="color:#A020F0;">4.一起敷面膜</a></td>
                                <td class="td3">🏫</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!--row 2-->
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#8B8989;"><b>✘</b></td>
                                <td class="td2" style="color:#8B8989;">5.一起唱歌并录下来</a></td>
                                <td class="td3">🖊️</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered " >
                            <tr>
                                <td class="td1" style="background:#008B8B;"><b>✔</b></td>
                                <td class="td2" style="color:#008B8B;">6.一起在学校吃饭</a></td>
                                <td class="td3">🍽️</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#EE0000;"><b>✔</b></td>
                                <td class="td2" style="color:#EE0000;">7.一起刷牙</a></td>
                                <td class="td3">👦</td>
                                </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#6CA6CD;"><b>✔</b></td>
                                <td class="td2" style="color:#6CA6CD;">8.一起去图书馆</a></td>
                                <td class="td3">🏬</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!--row 3-->
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#8B4789;"><b>✔</b></td>
                                <td class="td2" style="color:#8B4789;">9.一起进鬼屋</a></td>
                                <td class="td3">👻</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered " >
                            <tr>
                                <td class="td1" style="background:#FFA500;"><b>✔</b></td>
                                <td class="td2" style="color:#FFA500;">10.一起看星星</td>
                                <td class="td3">⭐</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#0000FF;"><b>✘</b></td>
                                <td class="td2" style="color:#0000FF;">11.一起去看海</td>
                                <td class="td3">🌊</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#00FFFF;"><b>✔</b></td>
                                <td class="td2" style="color:#00FFFF;">12.一起去游泳</td>
                                <td class="td3">🏊</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!--row 4-->
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#FFA500;"><b>✔</b></td>
                                <td class="td2" style="color:#FFA500;">13.一起去一次北京</td>
                                <td class="td3">🏢</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered " >
                            <tr>
                                <td class="td1" style="background:#191970;"><b>✘</b></td>
                                <td class="td2" style="color:#191970;">14.一起去一次成都</td>
                                <td class="td3">🏙️</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#708090;"><b>✘</b></td>
                                <td class="td2" style="color:#708090;">15.一起去一次南京</td>
                                <td class="td3">🌆</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#00FFFF;"><b>✘</b></td>
                                <td class="td2" style="color:#00FFFF;">16.一起去一次西藏</td>
                                <td class="td3">🏔️</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!--row 5-->
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#7FFF00;"><b>✘</b></td>
                                <td class="td2" style="color:#7FFF00;">17.一起去一次巴黎</td>
                                <td class="td3">🗼</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered " >
                            <tr>
                                <td class="td1" style="background:#FF8C00;"><b>✘</b></td>
                                <td class="td2" style="color:#FF8C00;">18.去一次佛罗伦萨</td>
                                <td class="td3">🏰</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#FF0000;"><b>✔</b></td>
                                    <td class="td2" style="color:#FF0000;">19.一起过生日</a></td>
                                    <td class="td3">🎂</td>
                                </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#90EE90;"><b>✔</b></td>
                                <td class="td2" style="color:#90EE90;">20.一起过恋爱纪念日</a></td>
                                <td class="td3">💕</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!--row 6-->
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table table-bordered" >
                            <tr>
                                <td class="td1" style="background:#BF3EFF;"><b>✔</b></td>
                                <td class="td2" style="color:#BF3EFF;">21.一起过七夕</a></td>
                                <td class="td3">💘</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#696969;"><b>✔</b></td>
                                <td class="td2" style="color:#696969;">22.一起过情人节</a></td>
                                <td class="td3">💑</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#0000CD;"><b>✘</b></td>
                                <td class="td2" style="color:#0000CD;">23.一起喝醉</td>
                                <td class="td3">🥂</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#008B8B;"><b>✘</b></td>
                                <td class="td2" style="color:#008B8B;">24.一起堆雪人</td>
                                <td class="td3">☃️</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!--row 7-->
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#8B1C62;"><b>✔</b></td>
                                    <td class="td2" style="color:#8B1C62;">25.一起看烟火</td>
                                    <td class="td3">🎆</td>
                                </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered " >
                            <tr>
                                <td class="td1" style="background:#FF7F00;"><b>✘</b></td>
                                <td class="td2" style="color:#FF7F00;">26.一起去蹦极</td>
                                <td class="td3">🧗</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#7FFF00;"><b>✘</b></td>
                                <td class="td2" style="color:#7FFF00;">27.一起去滑冰</td>
                                <td class="td3">⛸</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#00FFFF;"><b>✘</b></td>
                                <td class="td2" style="color:#00FFFF;">28.一起放风筝</td>
                                <td class="td3">🚶</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!--row 8-->
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#FF0000;"><b>✘</b></td>
                                <td class="td2" style="color:#FF0000;">29.一起去划船</td>
                                <td class="td3">🚣</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered " >
                            <tr>
                                <td class="td1" style="background:#FF1493;"><b>✘</b></td>
                                <td class="td2" style="color:#FF1493;">30.一起坐热气球</td>
                                <td class="td3">🎈</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#696969;"><b>✘</b></td>
                                    <td class="td2" style="color:#696969;">31.一起坐摩天轮</a></td>
                                    <td class="td3">🎡</td>
                                </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#4682B4;"><b>✘</b></td>
                                <td class="td2" style="color:#4682B4;">32.给对方化妆</td>
                                <td class="td3">💄</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!--row 9-->
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#FFA500;"><b>✔</b></td>
                                <td class="td2" style="color:#FFA500;">33.一起锻炼身体</td>
                                <td class="td3">🏃</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered " >
                            <tr>
                                <td class="td1" style="background:#00CD66;"><b>✔</b></td>
                                <td class="td2" style="color:#00CD66;">34.一起穿情侣装逛街</td>
                                <td class="td3">🏪</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#008B8B;"><b>✔</b></td>
                                <td class="td2" style="color:#008B8B;">35.一起看日出日落</td>
                                <td class="td3">🌄</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#FF0000;"><b>✔</b></td>
                                <td class="td2" style="color:#FF0000;">36.一起淋雨</td>
                                <td class="td3">🌧️</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!--row 10-->
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#C71585;"><b>✔</b></td>
                                    <td class="td2" style="color:#C71585;">37.一起逛超市</td>
                                    <td class="td3">🛒</td>
                                </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered " >
                            <tr>
                                <td class="td1" style="background:#0000FF;"><b>✔</b></td>
                                <td class="td2" style="color:#0000FF;">38.一起坐摩托</td>
                                <td class="td3">🏍️</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#8B8989;"><b>✔</b></td>
                                <td class="td2" style="color:#8B8989;">39.一起坐公交</a></td>
                                <td class="td3">🚌</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#0000CD;"><b>✔</b></td>
                                <td class="td2" style="color:#0000CD;">40.一起坐火车</td>
                                <td class="td3">🚆</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!--row 11-->
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table table-bordered" >
                            <tr>
                                <td class="td1" style="background:#FF0000;"><b>✔</b></td>
                                <td class="td2" style="color:#FF0000;">41.一起坐地铁</td>
                                <td class="td3">🚇</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#912CEE;"><b>✘</b></td>
                                <td class="td2" style="color:#912CEE;">42.一起坐飞机</td>
                                <td class="td3">✈️</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#0000CD;"><b>✘</b></td>
                                    <td class="td2" style="color:#0000CD;">43.一起坐轮船</td>
                                    <td class="td3">🚢</td>
                                </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#7A8B8B;"><b>✘</b></td>
                                <td class="td2" style="color:#7A8B8B;">44.一起种花草</td>
                                <td class="td3">🌱</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!--row 12-->
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#FF00FF;"><b>✘</b></td>
                                <td class="td2" style="color:#FF00FF;">45.去天安门看升国旗</td>
                                <td class="td3">⛳</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered " >
                            <tr>
                                <td class="td1" style="background:#FFA500;"><b>✔</b></td>
                                <td class="td2" style="color:#FFA500;">46.一起听一次演唱会</td>
                                <td class="td3">🎤</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#00FA9A;"><b>✘</b></td>
                                <td class="td2" style="color:#00FA9A;">47.一起去海底世界</td>
                                <td class="td3">🏞️</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#0000CD;"><b>✘</b></td>
                                <td class="td2" style="color:#0000CD;">48.一起去动物园</td>
                                <td class="td3">🏝</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!--row 13-->
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#00EEEE;"><b>✘</b></td>
                                    <td class="td2" style="color:#00EEEE;">49.一起去看樱花</td>
                                    <td class="td3">🌸</td>
                                </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered " >
                            <tr>
                                <td class="td1" style="background:#00FF00;"><b>✔</b></td>
                                <td class="td2" style="color:#00FF00;">50.一起去爬山</td>
                                <td class="td3">⛰️</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#FFA500;"><b>✘</b></td>
                                <td class="td2" style="color:#FFA500;">51.沿废旧铁轨散步</td>
                                <td class="td3">🚊</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#EE2C2C;"><b>✔</b></td>
                                <td class="td2" style="color:#EE2C2C;">52.一起追剧</td>
                                <td class="td3">🎞️</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!--row 14-->
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#912CEE;"><b>✘</b></td>
                                <td class="td2" style="color:#912CEE;">53.元宵节一起猜灯谜</td>
                                <td class="td3">🏮</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered " >
                            <tr>
                                <td class="td1" style="background:#228B22;"><b>✔</b></td>
                                <td class="td2" style="color:#228B22;">54.帮对方吹头发</td>
                                <td class="td3">👩🏻</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#FFA500;"><b>✘</b></td>
                                    <td class="td2" style="color:#FFA500;">55.一起过次烛光晚餐</td>
                                    <td class="td3">🕯️</td>
                                </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#008B8B;"><b>✘</b></td>
                                <td class="td2" style="color:#008B8B;">56.一起熬夜通宵跨年</td>
                                <td class="td3">🎇</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!--row 15-->
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#696969;"><b>✔</b></td>
                                <td class="td2" style="color:#696969;">57.一起聊天到凌晨</td>
                                <td class="td3">💬</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered " >
                            <tr>
                                <td class="td1" style="background:#9B30FF;"><b>✔</b></td>
                                <td class="td2" style="color:#9B30FF;">58.一起用情侣手机壳</td>
                                <td class="td3">📱</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#FF34B3;"><b>✘</b></td>
                                <td class="td2" style="color:#FF34B3;">59.挂一次爱情锁</td>
                                <td class="td3">🔒</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#EE0000;"><b>✘</b></td>
                                <td class="td2" style="color:#EE0000;">60.一起荡秋千</td>
                                <td class="td3">🤾</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!--row 16-->
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table table-bordered" >
                            <tr>
                                <td class="td1" style="background:#8B5A00;"><b>✔</b></td>
                                    <td class="td2" style="color:#8B5A00;">61.一起吃火锅</td>
                                    <td class="td3">🥘</td>
                                </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#7FFF00;"><b>✔</b></td>
                                <td class="td2" style="color:#7FFF00;">62.一起听同一首歌</td>
                                <td class="td3">🎵</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#00C5CD;"><b>✘</b></td>
                                <td class="td2" style="color:#00C5CD;">63.拍一次情侣写真</td>
                                <td class="td3">💑</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#00EE00;"><b>✔</b></td>
                                <td class="td2" style="color:#00EE00;">64.为对方买衣服</td>
                                <td class="td3">👗</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!--row 17-->
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#0000CD;"><b>✔</b></td>
                                <td class="td2" style="color:#0000CD;">65.拥抱对方</td>
                                <td class="td3">🤗</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered " >
                            <tr>
                                <td class="td1" style="background:#FFA500;"><b>✔</b></td>
                                <td class="td2" style="color:#FFA500;">66.互穿对方的衣服</td>
                                <td class="td3">👖</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#32CD32;"><b>✘</b></td>
                                    <td class="td2" style="color:#32CD32;">67.喝交杯酒</td>
                                    <td class="td3">🥂</td>
                                </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#FF0000;"><b>✔</b></td>
                                <td class="td2" style="color:#FF0000;">68.靠对方肩膀睡觉</td>
                                <td class="td3">😴</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!--row 18-->
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#8B475D;"><b>✔</b></td>
                                <td class="td2" style="color:#8B475D;">69.朋友面前介绍对方</td>
                                <td class="td3">👋</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered " >
                            <tr>
                                <td class="td1" style="background:#0000CD;"><b>✘</b></td>
                                <td class="td2" style="color:#0000CD;">70.一起放孔明灯</td>
                                <td class="td3">🏮</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#008B8B;"><b>✔</b></td>
                                <td class="td2" style="color:#008B8B;">71.去对方的老家</td>
                                <td class="td3">🏡</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#0000FF;"><b>✔</b></td>
                                <td class="td2" style="color:#0000FF;">72.一起看以前的照片</td>
                                <td class="td3">📷</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!--row 19-->
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#9400D3;"><b>✔</b></td>
                                    <td class="td2" style="color:#9400D3;">73.给对方起专属绰号</td>
                                    <td class="td3">📛</td>
                                </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered " >
                            <tr>
                                <td class="td1" style="background:#00FA9A;"><b>✘</b></td>
                                <td class="td2" style="color:#00FA9A;">74.把照片放进钱包</td>
                                <td class="td3">👛</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#FFA500;"><b>✔</b></td>
                                <td class="td2" style="color:#FFA500;">75.一起吃同一碗泡面</td>
                                <td class="td3">🍜</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#FF0000;"><b>✘</b></td>
                                <td class="td2" style="color:#FF0000;">76.一起做一次陶艺</td>
                                <td class="td3">👐</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!--row 20-->
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#8B668B;"><b>✘</b></td>
                                <td class="td2" style="color:#8B668B;">77.一起包饺子</td>
                                <td class="td3">🥟</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered " >
                            <tr>
                                <td class="td1" style="background:#8B0000;"><b>✔</b></td>
                                <td class="td2" style="color:#8B0000;">78.看一场恐怖片</td>
                                <td class="td3">😱</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#828282;"><b>✔</b></td>
                                    <td class="td2" style="color:#828282;">79.为对方按摩一次</td>
                                    <td class="td3">💆</td>
                                </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#008B8B;"><b>✔</b></td>
                                <td class="td2" style="color:#008B8B;">80.一起骑行车</td>
                                <td class="td3">🚴</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!--row 21-->
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table table-bordered" >
                            <tr>
                                <td class="td1" style="background:#0000CD;"><b>✔</b></td>
                                <td class="td2" style="color:#0000CD;">81.一起过周末</td>
                                <td class="td3">❤️</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#FF1493;"><b>✘</b></td>
                                <td class="td2" style="color:#FF1493;">82.一起自驾游</td>
                                <td class="td3">🚗</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#FF8C00;"><b>✔</b></td>
                                <td class="td2" style="color:#FF8C00;">83.在教室里打闹</td>
                                <td class="td3">🏫</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#7CFC00;"><b>✘</b></td>
                                <td class="td2" style="color:#7CFC00;">84.一起泡温泉</td>
                                <td class="td3">♨️</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!--row 22-->
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#0000CD;"><b>✘</b></td>
                                    <td class="td2" style="color:#0000CD;">85.一起去一次教堂</td>
                                    <td class="td3">⛪</td>
                                </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered " >
                            <tr>
                                <td class="td1" style="background:#00FF00;"><b>✘</b></td>
                                <td class="td2" style="color:#00FF00;">86.一起做一次饭</td>
                                <td class="td3">🍳</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#CD2626;"><b>✔</b></td>
                                <td class="td2" style="color:#CD2626;">87.一起打扫卫生</td>
                                <td class="td3">✨</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#DAA520;"><b>✘</b></td>
                                <td class="td2" style="color:#DAA520;">88.见证朋友的婚礼</td>
                                <td class="td3">💒</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!--row 23-->
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#008B8B;"><b>✔</b></td>
                                <td class="td2" style="color:#008B8B;">89.一起去见父母</td>
                                <td class="td3">👪</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered " >
                            <tr>
                                <td class="td1" style="background:#9A32CD;"><b>✘</b></td>
                                <td class="td2" style="color:#9A32CD;">90.一起挑选戒指</td>
                                <td class="td3">💍</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#00EE76;"><b>✘</b></td>
                                    <td class="td2" style="color:#00EE76;">91.一起挑选婚纱</td>
                                    <td class="td3">👰</td>
                                </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#B22222;"><b>✘</b></td>
                                <td class="td2" style="color:#B22222;">92.和对方结婚</td>
                                <td class="td3">💒</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!--row 24-->
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#A020F0;"><b>✘</b></td>
                                <td class="td2" style="color:#A020F0;">93.一起逛街买菜</td>
                                <td class="td3">🛍️</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered " >
                            <tr>
                                <td class="td1" style="background:#0000CD;"><b>✘</b></td>
                                <td class="td2" style="color:#0000CD;">94.为小家添置东西</td>
                                <td class="td3">🛋️</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#8B0000;"><b>✘</b></td>
                                <td class="td2" style="color:#8B0000;">95.接送对方上下班</td>
                                <td class="td3">🚗</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#32CD32;"><b>✘</b></td>
                                <td class="td2" style="color:#32CD32;">96.一起为宝宝取名字</td>
                                <td class="td3">👼</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!--row 25-->
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#8B658B;"><b>✘</b></td>
                                    <td class="td2" style="color:#8B658B;">97.一起购买婴儿用品</td>
                                    <td class="td3">🍼</td>
                                </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered " >
                            <tr>
                                <td class="td1" style="background:#00EE00;"><b>✘</b></td>
                                <td class="td2" style="color:#00EE00;">98.一起接送孩子上学</td>
                                <td class="td3">👪</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#00FFFF;"><b>✘</b></td>
                                <td class="td2" style="color:#00FFFF;">99.一起跳一次广场舞</td>
                                <td class="td3">💃</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="td1" style="background:#ff0000;"><b>✘</b></td>
                                <td class="td2" style="color:#ff0000;">100.白头偕老</td>
                                <td class="td3">👫</td>
                            </tr>
                        </table>
                    </div>
                </div>
        </main>
    </div>
</div>
<script src="<%= theme.cdn + '/assets/ext/bootstrap/js/bootstrap.min.js'%> "></script>