<link href="/css/SiteTimeline.css" rel="stylesheet">
<!-- <div class="blank">
</div> -->
<div class="pattern-center-blank">
</div>
<div class="pattern-center ">
    <div class="pattern-attachment-img">
        <img src="https://cdn.jsdelivr.net/gh/drew233/cdn/20200303155335.webp" data-src="<%= page.photos %>" class="lazyload" onerror="imgError(this,3)" style="width: 100%; height: 100%; object-fit: cover; pointer-events: none;">
    </div>
    <header class="pattern-header ">
        <h1 class="entry-title">
            归档 | Archives</h1>
    </header>
</div>
<div id="content" class="site-content">
    <div id="main">

        <div id="main-part">
            <!-- <div id="contentss">
                <%- partial('_widget/post-charts') %>
            </div> -->
            <!--时间轴-->
            <div id="sitetimeline">
                <div class="article-sort-title">
                    文章总览
                </div>
                <div class="article-sort">
                    <% var lastYear; var lastMonth; %>
                        <% site.posts.sort('date', theme.homePageSortType).each(function(post, i){ %>
                            <% var currentYear = parseInt(date(post.date, 'YYYY')); %>
                                <% var currentMonth = parseInt(date(post.date, 'YYYYMM')); %>
                                    <% if (lastYear != currentYear){ %>
                                        <% lastYear = currentYear; %>
                                            <div class="article-sort-item year">
                                                <%= date(post.date, 'YYYY') %>年</div>
                                            <% } %>
                                                <div class="article-sort-item">
                                                    <a class="article-sort-item-img" href="<%- url_for(post.path) %>" title="<%= post.title %>" data-pjax-state="<%= theme.pjax %>">
                                                        <img data-lazy-src="/images/loader/orange.progress-bar-stripe-loader.svg" alt="<%= post.title %>" onerror="this.onerror=null,
                                                        this.src=&quot;/images/404.jpg&quot;" data-ll-status="loaded" class="entered loaded" src="<%= post.photos[0] %>"></a>
                                                    <div class="article-sort-item-info">
                                                        <div class="article-sort-item-time">
                                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                                            <time class="post-meta-date-created" datetime="<%= date(post.date, 'YYYY-MM-DD HH:MM') %>" title="发表于 <%= date(post.date, 'YYYY-MM-DD HH:MM') %>">
                                                                <%= date(post.date, 'YYYY-MM-DD HH:MM') %>
                                                            </time>
                                                        </div>
                                                        <a class="article-sort-item-title" href="<%- url_for(post.path) %>" title="<%= post.title %>" data-pjax-state="<%= theme.pjax %>">
                                                            <%= post.title %>
                                                                <!-- <% if (post.description && post.description.length > 0) { %>
                                                                <%- post.description %>
                                                                    <% } else { %>
                                                                        <% if (theme.post_description.enable) { %>
                                                                            <%- strip_html(post.content).substring(0, 50) %>
                                                                                <% } %>
                                                                                    <% } %> -->
                                                        </a>
                                                    </div>
                                                </div>

                                                <% }) %>

                </div>
            </div>



        </div>
    </div>
</div>